:root {
    --white: #FFFFFF;
    --east-bay: #3A4574;
    --black: #000000;
    --tan: #D3B47F;
    --gray: #808080;
    --mine-shaft: #2E2E2E;

    --hero-fs: var(--white);
    --button-color: var(--east-bay);
    --button-hover: var(--tan);
    --schedule-fs: var(--black);
    --schedule-elem: var(--tan);
    --reviews-bg: var(--east-bay);
    --reviews-title: var(--tan);
    --reviews-name: var(--tan);
    --about-title: var(--black);
    --about-text: var(--gray);
    --about-item: var(--tan);
    --gallery-bg:var(--east-bay);
    --gallery-title: var(--white);
    --gallery-text: var(--white);
    --contacts-questions-text: var(--black);
    --contacts-text: var(--mine-shaft);
    --contacts-elem: var(--tan);
    --sending-questions-title: var(--black);
    --contact-item-ingo: var(--mine-shaft);
    --contacts-item: var(--tan);
    --questions-form: var(--black);
    --sending-questions-placeholder: var(--gray);
    --hamburger-menu: var(--tan);
    --swiper-button-next: var(--tan);
    --swiper-button-prev: var(--white)
}

*, *:after, *:before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:active, a:focus { 
    outline: none;
}

html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    transition: 0.8s;
}

a {
    text-decoration: none;
    color: var(--white);
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="text"] {
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
}

ul {
    list-style-type: none;
}

.btn {
    font-family: 'Poppins';
    background: var(--button-color);
    border: 0px;
    padding: 38px 65px;

    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    transition: 0.8s;
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:focus {
    background-color: var(--button-hover);
    border-radius: 30px;
}

.visibility-hidden {
    position: absolute;
    visibility: hidden;
}

.wrapper {
    min-height: 100px;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

@import 'block/header.scss';
@import 'block/content.scss';
@import 'block/footer.scss';